.project-main-container {
    img {
        height: 339px;
        width: 500px;
        margin-right: -50px !important;
        object-fit: contain;
    }
}

@media screen and (max-width:515px) {
    .project-main-container {
        img {
            height: 225px;
            width: 300px;
            margin-right: -50px !important;
        }

    }
}               