.project-main-container {
    img {
        height: 339px;
        width: 500px;
        object-fit: contain;
    }
}

@media screen and (max-width:540px) {
    .project-main-container {
        img {
            height: 225px;
            width: 300px;
        }

    }
}               