@use "./../../../styles.scss" as mixins;

section {
    color: white;
    background-color: mixins.$background-color;
    padding: 250px 0 0 8%;
    position: relative;
    max-width:1920px;
 
    h4 {
        font-size: 16px;
        font-weight: lighter;
        margin-left: 25%;
    }

    h2 {
        font-size: 90px;
       
       
    }
}

.header-container {
    @include mixins.dFlex(center, center, 30px);
   margin-left: 25%;

  
}

.big-line {
    flex: 1;
    height: 2px;
    background-color: mixins.$line-violett;
}

.small-line {
    width: 100px;
    height: 2px;
    background-color: mixins.$line-violett;
}

.side-img{
    position: absolute;
    bottom:-200px;
    left:-400px;
    z-index:3;
}