<section id="portfolio">

    <div data-aos="fade-left" class="header-container">
        <div class="small-line"></div>
        <h2>Portfolio</h2>
        
        <div class="big-line" ></div>
    </div>
    <h4 data-aos="fade-left">Explore a sekectuib if ny work here - interact with projects to see my skills in action</h4>
    

    <app-joinproject></app-joinproject>
    <app-elpolloloco></app-elpolloloco>
    <app-pokedex></app-pokedex>

    <img class="side-img" src="/assets/img/portfolio/portfolio-side-img.png">
</section>