<section class='impressum'>
    <a class="back-to-index" routerLink="/"><img src="/assets/img/contact/arrow-up.png"></a>
    <h1>{{'imprint' | translate}}</h1>
    <p>{{'information-according' | translate}} § 5 DDG</p>
    <p>Okan Özel <br>
        Dresdener Ring 13<br>
        71522 Backnang <br>
    </p><br>
    <p> <strong>{{'represented-by' | translate}}</strong><br>
        Okan Özel<br>
    </p><br>
    <p><strong>{{'contact' | translate}}:</strong> <br>
        Telefon: <a href="tel:017641695349">+4917641695349</a><br>
        E-Mail: <a href="mailto:mail&#64;okan-oezel.de">mail&#64;okan-oezel.de</a> </p><br>
    <p><strong>{{'disclaimer' | translate}}: </strong><br><br><strong>{{'liability-content' | translate}}</strong><br><br>
     {{'liability-text' | translate}}<br><br><strong>{{'copyright' | translate}}</strong><br><br>
       {{'copyright-text' | translate}}<br><br><strong>{{'data-prtection' | translate}}</strong><br><br>
     {{'data-protection-text' | translate}} <br>
     {{'data-protection-text2' | translate}} <br>
     {{'data-protection-text3' | translate}}<br>
    </p>
</section>