<section>

    <main>
        <div class="img-container">
            <img src="/assets/img/above_the_fold/img_me_atf.png">
            <img src="/assets/img/above_the_fold/img-me-background.png">
        </div>
        <div class="about-me-container">
            <div class="about-me">
                <div>
                    <span class="deg-90 mr-80">I am</span>
                    <div class="my-data">
                        <span id="my-name">Okan Özel</span>
                        <span id="my-title">Frontend Developer</span>
                        <button class="btn">Lets Talk</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

   
    <div class="atf-bottom">
        <span class="scroll-down">
            Scroll down ->
        </span>
        <div class="links-container">
            <div></div>
            <img src="/assets/img/above_the_fold/twitter.png" alt="">
            <img src="/assets/img/above_the_fold/mail.png" alt="">
            <img src="/assets/img/above_the_fold/linkIn.png" alt="">
            <a href="mailto:okan.ozel&#64;hotmail.de">Okan.ozel&#64;hotmail.de</a>
        </div>
    </div>

    <img class="atf-bottom-background" src="/assets/img/above_the_fold/atf_bottom_background.png" alt="">
</section>