@media screen and (max-width: 1300px) {
    .deg-90 {
        font-size: 30px !important;
    }

    .my-data {
        >h1 {
            font-size: 60px !important;
        }

        >h2 {
            font-size: 40px !important;
        }
    }

    .links-container {
        img {
            width: 30px;
            height: 30px;
        }

        a {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 1100px) {

    main {
        flex-direction: column;
        align-items: center !important;
        gap:65px;
    }

    .about-me-container {
        height: 260px;
        margin-right: 0;
    }

    .about-me {
        display: flex;
        justify-content: center;
        

        div:nth-child(1) {
            position: relative !important;
        }
    }

    main{
        padding-left:50px;
    }

    .img-container{
        top:190px;
        height:645px;
        left:100px;
        img{
          width:440px;
          height:525px;
        }
    }

    .atf-bottom-background{
        top:390px;
    }

}

@media screen and (max-width: 700px) {
    .links-container {
        a {
            display: none;
        }
    }

    .scroll-down {
        display: none;
    }

   
}

@media screen and (max-width: 600px){
    .my-data {
        >h1 {
            font-size: 45px !important;
        }

        >h2 {
            font-size: 25px !important;
        }
    }

 
}

@media screen and (min-width:2200px){
    section{
        position: relative;
    }

    .atf-bottom-background{
        height: 15vh;
        bottom:0;
        top:unset;
    }
}