<section class="my-skills-section">

    <div data-aos="fade-right" class="my-skils-icons">
        @for (img of images; track img){
        <img class="images" src="{{img}}" alt="image">

        }
    </div>

    <div>
        <div data-aos="fade-left" class="my-skills-container">
            <h2>My skills</h2>
            <p>I have gained experience in building projects with different frontend technologies and concepts</p>
            <h3>Looking for another skill?</h3>
            <p>Feel free to contact me I look forward to expanding on my previous knowledge</p>
            <button class="btn">Get in touch</button>
        </div>

        <div class="line"></div>
    </div>

    <img class="green-img" src="/assets/img/my_skills/green-my-skills.png">
</section>


<section class="my-skills-small">

    <div data-aos="fade-left" class="my-skills-headline">
        <h2>My skills</h2>
        <div class="line"></div>
    </div>

    <p data-aos="fade-left" class="text-under-headline">I have gained experience in building projects with different frontend
        technologies and concepts</p>

    <div data-aos="fade-right" class="my-skils-icons">
        @for (img of images; track img){
        <div><img class="images" src="{{img}}" alt="image"></div>

        }
    </div>

    <div data-aos="fade-left">
        <div class="my-skills-container">
            <h3>Looking for another skill?</h3>
            <p>Feel free to contact me I look forward to expanding on my previous knowledge</p>
            <button class="btn">Get in touch</button>
        </div>


    </div>


    <img class="green-img" src="/assets/img/my_skills/green-my-skills.png">
</section>