<section class="my-skills-section" id="my-skills">

    <div data-aos="fade-right" class="my-skils-icons">
        @for (img of images; track img){
        <img class="images" src="{{img}}" alt="image">

        }
    </div>

    <div>
        <div data-aos="fade-left" class="my-skills-container">
            <h2>{{'my-skills-h2' | translate}}</h2>
            <p>{{'gained-experience' | translate}}</p>
            <h3>{{'looking-for' | translate}} <span>{{'another-skill' | translate}}</span></h3>
            <p>{{'feel-free-contact-me' | translate}}</p>
            <a href="#contact"><button class="btn">{{'get-in-touch' | translate}}</button></a>
        </div>

        <div class="line"></div>
    </div>

    <img class="green-img" src="/assets/img/my_skills/green-my-skills.png">
</section>


<section class="my-skills-small" id="my-skills-small">

    <div data-aos="fade-left" class="my-skills-headline">
        <h2>{{'my-skills-h2' | translate}}</h2>
        <div class="line"></div>
    </div>

    <p data-aos="fade-left" class="text-under-headline">{{'gained-experience' | translate}}</p>

    <div data-aos="fade-right" class="my-skils-icons">
        @for (img of images; track img){
        <div><img class="images" src="{{img}}" alt="image"></div>

        }
    </div>

    <div data-aos="fade-left">
        <div class="my-skills-container">
            <h3>{{'looking-for' | translate}}<span> {{'another-skill' | translate}}</span></h3>
            <p>{{'feel-free-contact-me' | translate}}</p>
            <a href="#contact"><button class="btn">{{'get-in-touch' | translate}}</button></a>
        </div>


    </div>


    <img class="green-img" src="/assets/img/my_skills/green-my-skills.png">
</section>