.project-main-container {
    img {
        height: 379px;
        width: 620px;
        object-fit: contain;
    }
}

@media screen and (max-width:1225px) {
    .project-main-container {
        img {
           margin-left:-30px;
        }
}}

@media screen and (max-width:540px) {
    .project-main-container {
        img {
            height: 225px;
            width: 300px;
        }

    }
}          

@media screen and (max-width:540px) {
    .project-main-container {
        img {
           margin-left:0 !important;
        }
}}
