<div data-aos="zoom-in" class="project-main-container">
    <div>
        <img src="/assets/img/portfolio/pokedex-laptop.png" alt="">
    </div>
    <div class="project-describe">
        <span>Pokédex</span>
        <span>Javascript | HTML | CSS | API</span>
        <p>{{'pokemon-describe' | translate}}</p>
            <div class="btn-container">
                <a href="https://pokemon.okan-oezel.de/" target="_blank"><button class="btn">Live Test</button></a>
                <a href="https://github.com/uniokan/PokedexAPI" target="_blank"><button class="btn">Github</button></a>
            </div>
    </div>
</div>


