<div data-aos="zoom-in" class="project-main-container">
    <div>
        <img src="/assets/img/above_the_fold/join.png" alt="">
    </div>
    <div class="project-describe">
        <span>Join</span>
        <span>Angular | Typescript | HTML | CSS | Firebase</span>
        <p>Task manager Inspired by the Kanban System. Create and organize taks using drag and drop functions,
            assign users and categories</p>
            <div class="btn-container">
                <button class="btn">Live Test</button>
                <button class="btn">Github</button>
            </div>
    </div>
</div>


