<div data-aos="zoom-in" class="project-main-container">
    <div>
        <img src="/assets/img/portfolio/pokedex-laptop.png" alt="">
    </div>
    <div class="project-describe">
        <span>Join</span>
        <span>Angular | Typescript | HTML | CSS | Firebase</span>
        <p>Task manager Inspired by the Kanban System. Create and organize taks using drag and drop functions,
            assign users and categories</p>
            <div class="btn-container">
                <a href="https://pokemon.okan-oezel.de/" target="_blank"><button class="btn">Live Test</button></a>
                <a href="https://github.com/uniokan/PokedexAPI" target="_blank"><button class="btn">Github</button></a>
            </div>
    </div>
</div>


