@use "./../../../styles.scss" as mixins;

.project-main-container {
    @include mixins.dFlex(flex-end, center, 50px);
    flex-direction: row-reverse;
    margin-right: 8%;
    position: relative;
    z-index: 5;

    >div:nth-child(1),
    >div:nth-child(2) {
        max-width: 513px;
        position: relative;
        z-index: 5;
    }

    >div:nth-child(2) {
        @include mixins.dFlex(none, none, 35px);
        flex-direction: column;
    }

}

.btn-container {
    @include mixins.dFlex(none, none, 86px);

    :first-child {
       > button {
            background-color: mixins.$line-violett;
            cursor: pointer;

            &:hover {
                background-color: mixins.$line-green;
            }
        }
    }

    :last-child {
        >button {
            background-color: unset;
            border: 1px solid mixins.$line-green;
            cursor: pointer;

            &:hover {
                background-color: mixins.$line-green;
            }
        }
    }
}

.project-describe {
    span:nth-child(1) {
        font-size: 23px;
        color: mixins.$line-violett;
        font-weight: bold;
    }

    span:nth-child(2) {
        font-size: 23px;
        color: mixins.$line-green;
    }
}

@media screen and (max-width:515px) {
    .project-main-container {

        >div:nth-child(1),
        >div:nth-child(2) {
            max-width: 413px;

            img {
                width: 270px;
                margin-left: 0;
            }

        }
    }
}

@media screen and (max-width: 391px) {
    .btn-container{
        gap:24px;
    }
}