<section>

    <main>
        <div data-aos="fade-left" class="comment-container">
            <div [ngClass]="comment==0? 'show-paragraph' : 'hidden-paragraph'">
                <p>
                  {{'fabian-comment' | translate}}
                </p>
                <div class="author-container">
                    <div class="comments-line"></div>
                    <span>F.Faber - Team Partner</span>
                </div>
            </div>

            <div  [ngClass]="comment==1? 'show-paragraph' : 'hidden-paragraph'">
                <p>
                    {{'daniela-comment' | translate}}
                </p>
                <div class="author-container">
                    <div class="comments-line"></div>
                    <span>Daniela Olbrich - Team Partner</span>
                </div>
            </div>
        </div>

        <div class="arrow-container">
            <img (click)="showLastComment()" src="/assets/img/comments/arrow-backward.svg" alt="">
            <span [ngStyle]="{ 'color': comment == 0 ? '#4946FD' : 'white' }">.</span>
            <span [ngStyle]="{ 'color': comment == 1 ? '#4946FD' : 'white' }">.</span>
            <img  (click)="showNextComment()" src="/assets/img/comments/arrow-forward.svg" alt="">
        </div>

    
    </main>





    <div data-aos="fade-left" class="img-container">
        <img src="/assets/img/comments/my-face.png" alt="">
        <div class="line"></div>
    </div>

    <img class="side-img" src="/assets/img/comments/green-img.png">
    <img class="side-imgg" src="/assets/img/contact/contact-side-img.png">
</section>