<section>
    <div class="comment-container">
        <p>
            Okan really kept the team together with his great organization 
            and clear communication. We wouldn't have got this far without his commitment.
        </p>

        <div class="author-container">
            <div class="comments-line"></div>
            <span>V.Schuster - Team Partner</span>
        </div>
    </div>

    <div class="img-container">
        <img src="/assets/img/comments/my-face.png" alt="">
        <div class="line"></div>
    </div>

    <img class="side-img" src="/assets/img/comments/green-img.png">
</section>
