@use "./../../../styles.scss" as mixins;

section{
    padding-top:200px;
    background-color: mixins.$background-color;
    @include mixins.dFlex(none, center, 50px);
    padding-left:15%;
    position: relative;
    padding-bottom:200px;
    max-width:1920px;
}

.line{
    width:100px;
    height:2px;
    background-color: mixins.$line-violett;
}

.img-container{
    @include mixins.dFlex(none, center, 0);
    position: relative;
    z-index: 2;
   
}

.comment-container{
    @include mixins.dFlex(none, none, 50px);
    flex-direction: column;
    border:4px solid mixins.$line-green;
    padding: 48px 96px 48px 96px;
    border-radius: 32px;
    height:272px;
    box-sizing: border-box;

    p{
        flex:1;
    }
}

.comments-line{
    flex:1;
    height:2px;
    background-color: mixins.$line-violett;
}

.author-container{
    @include mixins.dFlex(none, center, 20px);
}

.side-img{
    position: absolute;
    right:-350px;
}