<div data-aos="zoom-in" class="project-main-container">
    <div>
        <img src="/assets/img/above_the_fold/join.png" alt="">
    </div>
    <div class="project-describe">
        <span>El pollo loco</span>
        <span>Javascript | HTML | CSS | Git | Firebase</span>
        <p>{{'polo-loco-describe' | translate}}</p>
        <div class="btn-container">
            <a href="https://el-pollo-loco.okan-oezel.de/" target="_blank"><button class="btn">Live Test</button></a>
            <a href="https://github.com/uniokan/el_pollo_loco" target="_blank"><button class="btn">Github</button></a>
        </div>
    </div>
</div>