@use "./../../../styles.scss" as mixins;

section {
    background-color: mixins.$background-color;
    position: relative; 
    max-width:1920px;
    padding:250px 0 250px 0;
    overflow-y: hidden;


    .send-mail{
        position: absolute;
        top: 50%;
        right: 30%;
        left:30%;
        text-align: center;
        background-color: rgb(20,29,47);
        border: 1px solid mixins.$line-green;
        border-radius: 10px;
        padding: 8px 16px;
        box-shadow: 5px 5px 5px;
        font-size: 14px !important;

    }

    .success-mail{
        transform: translateY(780px);
        transition: transform 1s ease-in-out;
        z-index: 30;
        overflow-y: hidden;

    }

    .show-succes-mail{
        transition: transform 1s ease-in-out;
        transform: translateY(0);
        z-index: 200;

    }
}

.headline-container {
    @include mixins.dFlex(flex-start, center, 30px);
    margin-right: 37%;

    h2 {
        font-size: 90px;
    }
}

.headline-line {
    flex: 1;
    height: 2px;
    background-color: mixins.$line-violett;
}

main{
    margin-top:100px;
    @include mixins.dFlex(space-between, flex-start, 200px);
    padding:0 8%;
}

.input-container{
    @include mixins.dFlex(none, none, 16px);
    flex-direction: column;
    flex:1;
    max-width: 617px;
    position: relative;
    z-index:22;

    input,textarea{
        flex:1;
        background-color: mixins.$background-color;
        outline: unset;
        border: 1px solid mixins.$line-violett;
        padding:15px 25px 15px 25px;
        color:white;
        border-radius: 10px;
        }

    textarea{
        padding:15px 25px 115px 25px;
        height:1000px;
        resize: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   
}

.red{
    color:red;
    font-size: 12px;
}

.text-contact{
    @include mixins.dFlex(flex-start, none, 24px);
    flex-direction: column;
    width:474px;
    position: relative;
    z-index:50;

    span{
        font-size: 32px;
        font-weight: bold;
    }
}

.side-img{
    position: absolute;
    bottom:-100px;
    left:-374px;
    z-index: 2;
    transform: rotate(45deg)
}

.check-box-container{
    @include mixins.dFlex(none, center, 8px);

    a{
        text-decoration: none;
        color:mixins.$line-violett
    }
}

.mail-submit-btn{
    font-size: 23px;
    transition: all 125ms ease-in-out;
    cursor: pointer;

    &:hover{
        background-color: mixins.$line-violett !important;
    }
}

.arrow-up{
    position: absolute;
    right:8%;
    bottom:50px;
    transition: all 125ms ease-in-out;
    cursor: pointer;
    z-index:5;

    &:hover{
        transform: scale(1.07);
    }
}