@use "./../../../styles.scss" as mixins;

@media screen and (max-width:1200px) {
    main {
        gap: 30px;
    }
}

@media screen and (max-width:1100px) {
    .text-contact {
        max-width: 300px;
    }

    section{
        padding-bottom: 130px;
    }
}

@media screen and (max-width:750px) {
    main{
        flex-direction: column;
    }
    .text-contact {
        max-width: unset;
        width:auto;
    }

}