<footer>
    <div>
        <span class="my-name">O<span class="half-color-text">k</span>a<span class="half-color-text">n</span></span>
        <span class="impressum-desktop">Impressum</span>
    </div>

    <span class="name-year">© Okan Özel 2024</span>

    <div>
        <img src="/assets/img/above_the_fold/twitter.png" alt="">
        <img src="/assets/img/above_the_fold/mail.png" alt="">
        <img src="/assets/img/above_the_fold/linkIn.png" alt="">
    </div>

    <span class="impressum-mobile">Impressum</span>
</footer>
