<footer>
    <div>
        <span class="my-name">O<span class="half-color-text">k</span>a<span class="half-color-text">n</span></span>
        <a routerLink="/imprint" class="impressum-desktop">{{'imprint' | translate}}</a>
    </div>

    <span class="name-year">© Okan Özel 2024</span>

    <div>
        <a href="https://github.com/uniokan" target="_blank"><img src="/assets/img/above_the_fold/twitter.png"
                alt=""></a>
        <a href="mailto:mail@okan-oezel.de" target="_blank"><img src="/assets/img/above_the_fold/mail.png" alt=""></a>
        <a href="https://www.linkedin.com/in/okan-%C3%B6zel-782b412aa/" target="_blank"><img
                src="/assets/img/above_the_fold/linkIn.png" alt=""></a>
    </div>

    <a routerLink="/imprint" class="impressum-mobile">{{'imprint' | translate}}</a>
</footer>
