@use "./../../../../styles.scss" as mixins;

footer {
    background-color: mixins.$background-color;
    height: 100px;
    position: relative;
    z-index: 40;
    height: 291px;
    @include mixins.dFlex(space-between, center, 0);
    padding: 0 8%;
    border-top: 2px solid mixins.$line-green;
    max-width: 1920px;

    a {
        transition: all 125ms ease-in-out;
        cursor: pointer;

        &:hover {
            color: mixins.$line-violett;
        }
    }


    .name-year {
        font-size: 23px;
    }

    div:nth-child(1) {
        display: flex;
        gap: 8px;
        flex-direction: column;
    }

    div:nth-child(3) {
        @include mixins.dFlex(none, none, 16px);

        img {
            width: 30px;
            height: 30px;
        }
    }
}

.half-color-text {
    background: linear-gradient(to right, white 50%, mixins.$line-violett 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.my-name {
    font-size: 35px;
    font-weight: bold;
}

.impressum-mobile {
    display: none;
}