@use "./../../../../styles.scss" as mixins;

@media screen and (max-width:550px) {
    footer{
        flex-direction: column;
        gap:16px;
        height:auto;
        padding: 4% 0;
    }

    .impressum-desktop{
        display:none;
    }

    .impressum-mobile{
        display:block;
    }
}