<section id="about-me">
    <img class="purple-img" src="/assets/img/about-me/about-me-purple.png">
    <main>

        <div data-aos="fade-down-right" class="about-me-container">
            <h2>{{"about-me-h2" | translate}}</h2>
            <div>{{'about-me-text' | translate}}</div>


            <div class="characteristic">
                <img src="/assets/img/about-me/light.png" alt="">
                <p>{{'about-me-first-skill' | translate}}</p>
            </div>
            <div class="characteristic"> <img src="/assets/img/about-me/puzzle.png" alt="">
                <p>{{'about-me-second-skill' | translate}}</p>
            </div>
        </div>

        <div class="img-container">
            <img src="/assets/img/about-me/lebenslauf-bild.png" alt="Image from me">
            <div>

            </div>
        </div>

    </main>
</section>