/* You can add global styles to this file, and also import other style files */

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

$line-violett: #4946FD;
$line-green: #01BEE8;
$section-height: calc(100vh - 130px);
$background-color: #141D2F;

@mixin dFlex($jc: center, $ai : center, $g: 0) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

* {
    margin: 0;

}

section {
    padding-top: 250px;
}

html{
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color:white;
}

body {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden !important;
    color: white;
    height: 100%;
}
     
.btn {
    padding: 15px 30px 15px 30px;
    background-color: #01BEE8;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    font-size: 23px;

    &:hover{
       background-color: $line-violett;
    }
}

h1,h2{
    text-shadow: 0px 0px 5px white;
}

::-webkit-scrollbar {
    width: 4px; /* für vertikale Balken */
    height: 2px; /* für horizontale Balken */
}

/* Der "Track" (Hintergrund) des Scrollbalkens */
::-webkit-scrollbar-track {
    background: $background-color;
}

/* Die "Thumb" (der bewegliche Teil) des Scrollbalkens */
::-webkit-scrollbar-thumb {
    background-color: $line-violett; /* Farbe des Scrollbalkens */
    border-radius: 200px; /* Ecken abrunden */
    // border: 3px solid $line-green; /* Abstand zwischen Thumb und Track */
}

/* "Thumb" beim Hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media screen and (max-width:1100px) {
    section {
        padding-top:130px !important;
    }
}

@media screen and (max-width:960px) {
    h2 {
        font-size: 60px !important;
        font-size: 16px;
    }
}

@media screen and (max-width:500px) {
    h2 {
        font-size: 37px !important;
    }

    .btn{
        font-size:16px;
    }
}

@media screen and (min-width:1920px) {

    body{
        display:flex;
        justify-content: center;
        background-color: rgb(20,29,47);
        width:100%;
    }
}