<header>
    <nav>
        <a routerLink="/"><span class="my-name">O<span class="half-color-text">k</span>a<span
                    class="half-color-text">n</span></span></a>
        <div>
            <a href="#about-me">{{'about-me' | translate}}</a>
            <a href="#my-skills">Skills</a>
            <a href="#portfolio">Portfolio</a>
        </div>

        <div (click)=" toggleMenuBar()">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="language">
            <span [ngStyle]="{'color': translate.enActive? '#4946FD' : 'white'}" (click)="translate.switchLanguage('en'); translate.enClicked()">EN</span>
            <span>|</span>
            <span [ngStyle]="{'color': translate.deActive? '#4946FD' : 'white'}" (click)="translate.switchLanguage('de');  translate.deClicked()">DE</span>
        </div>

        <div *ngIf="isMenuBarVisible" class="menu-bar-content">
            <a (click)="toggleMenuBar()" href="#about-me">About me</a>
            <a (click)="toggleMenuBar()" href="#my-skills-small">Skills</a>
            <a (click)="toggleMenuBar()" href="#portfolio">Portfolio</a>
        </div>
    </nav>
</header>