@use "./../../../../styles.scss" as mixins;

@media screen and (max-width:1100px) {
    nav {
        >div:first-of-type {
            display: none;
        }

        >div:nth-of-type(2) {
            display: flex;
             top:unset;
        }

    }

    header{
        padding: 0 8% 0 8%;
        display:flex;
        align-items: center;
    }

    .language{
        right:14%;
        top:32px;
    }
}

@media screen and (max-width:500px) {
    .language{
        right:20%;
    }
}